.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
}
.intro {
  background-image: url(../images/eat.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(223, 201, 79);
  height: 90vh;
}
.intro p {
  font-family: "Kaushan Script";
  text-align: center;
  color: rgb(250, 225, 4);
  padding: 200px;
  font-size: 30px;
}
#introText {
  font-size: 20rem;
  direction: rtl;
}
.intro #begin {
  border-width: 1px;
}

.nav-bar-link a:hover {
  color: #000101;
}
.nav-bar-link a {
  transition: ease;
  text-decoration: none;
}
.nav-bar-link a img:hover {
  border-bottom: 3px solid black;
}
body {
  overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.contact{
    background-image: url(../images/reachus.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}
body{
    background-image: url(../images/col.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 90vh;
    background-size: cover;
}
.card{
    background-color: rgba(243, 149, 149, 0.705);
}